.lead__figure {
  margin: 64px 0 0;
}

@media (max-width: 1024px) {
  .lead__figure {
    margin-top: 56px;
  }
}

@media (max-width: 925px) {
  .lead__figure {
  }
}

@media (max-width: 425px) {
  .lead__figure {
    margin-top: 40px;
  }
}